body {
    --light-color: #eeeeee;
    --dark-color: #afafaf;

    --good-color: #9ed6c7;
    --good-color-dark: #06d6a0;
    --warn-color: #f4d1a6;
    --warn-color-dark: #f58a07;
    --bad-color: #ffd3d3;
    --bad-color-dark: #ff5163;
    --exercice-color: #bedcff;
    --exercice-color-dark: #4a5899;
}

/*Center the home page content*/
.homeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

/*Underline the links in the posts*/
article a {
    text-decoration: underline;
}

/*Display an icon after external links*/
article a[href^="//"]:after,
article a[href^="http://"]:after,
article a[href^="https://"]:after {
    display: inline-block;
    background-image: url(/java/img/ic_open_in_new.svg);
    margin: 0 2px;
    background-size: 1rem 1rem;
    height: 1rem;
    width: 1rem;
    content: "";
}

/*Display images to the right, expect when they are not part of a paragraph */
article p > img:not(:only-child) {
    float: right;
    max-width: 300px;
    margin: 0 0 1em 1em;
}

/*Blockquotes styles*/
blockquote {
    color: #323232;
}

blockquote.group {
    background: var(--light-color);
    border-left: 8px solid var(--dark-color);
}

blockquote.good {
    background: var(--good-color);
    border-left: 8px solid var(--good-color-dark);
}

blockquote, blockquote.warn {
    background: var(--warn-color);
    border-left: 8px solid var(--warn-color-dark);
}

blockquote.bad {
    background: var(--bad-color);
    border-left: 8px solid var(--bad-color-dark);
}

blockquote.building {
    padding: 8px 0 8px 48px;

    border-left: 8px solid var(--bad-color-dark);

    background: var(--bad-color) url(/java/img/ic_cone.svg) top no-repeat;
    background-position: 8px 8px;
    background-size: 24px;
}

blockquote.exercice {
    padding: 8px 8px 8px 48px;

    border-left: 8px solid var(--exercice-color-dark);

    background: var(--exercice-color) url(/java/img/ic_pencil.svg) top no-repeat;
    background-position: 8px 8px;
    background-size: 24px;
}


/*Make sure to clear space after floating elements*/
article code, article blockquote, article .footnotes-sep {
    clear: both;
}

/*Add margin after a video*/
article video, article iframe {
    margin-bottom: 1rem;
}

/* Adjust tables */
table {
    background: white;
}
tr > *:last-child {
    width: 100%;
}

/*More formatting*/
sup {
    vertical-align: super;
    font-size: 75%;
}

sup.footnote-ref {
    vertical-align: initial;
    font-size: 100%;
}

/*Better Comment colors in code blocks*/
.hljs-comment, .hljs-quote {
    color: var(--warn-color);
}

/*Utilities*/
.center {
    display: flex;
    justify-content: center;
}

.clear {
    clear: both;
}

/*Download Link*/
a.download-link {
    display: block;
    margin: 1rem 0;
    padding: 1rem 1rem 1rem 48px;

    text-decoration: none;
    background: var(--light-color) url(/java/img/ic_zip.svg) 8px center no-repeat;
    background-size: 32px;

    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

    color: black;
}

a.download-link:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

a.download-link > span.text {
    display: block;

    background-image: url(/java/img/ic_open_in_new.svg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 1.1rem;
}